<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- .navbar.navbar-default.navbar-fixed-top>nav.container -->
  <header class="navbar navbar-default navbar-fixed-top">
    <nav class="container">
      <%= render 'generals/navbar_header' %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= render 'generals/navbar_main_menu' %>
      </div>
    </nav>
  </header>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
